{% extends "layout.html" %}
{% block title %}home{% endblock %}

{% block body %}
    <img src="http://textfiles.com/underconstruction/HeHeartlandFlats7015underconstruction.gif">
    <p>meow, meow! catroom is currently under construction! check back later!</p>
    <img src="http://textfiles.com/underconstruction/HeHeartlandGrove2575lineconstruction.gif">
    <br>
    <img src="http://textfiles.com/underconstruction/ArArea51Station9771rulersconstructiongc_icon.gif">
    <img src="http://textfiles.com/underconstruction/ArArea51Station9771rulersconstructiongeocities_static.gif">
    <img src="http://textfiles.com/underconstruction/ArArea51Station9771rulersconstructionie_logo.gif">
    <img src="http://textfiles.com/underconstruction/AtAthensIthaca7173photoesconstruction.gif">
{% endblock %}