<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}page{% endblock %} @ catroom</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% endblock %}
</head>
<body class="bg-pink-50">
    {% block header %}
        <div class="bg-pink-900 h-1 w-full"></div>
        <header class="flex flex-row w-full justify-between items-center py-4 md:px-16 px-8">
            <a class="font-black text-2xl text-pink-900" href={{ url_for('index') }}>
                catroom
            </a>
            <aside class="flex gap-2">
                {% if user %}
                    <p>{{ user.username }}</p>
                    <a class="link" href={{ url_for('logout') }}>logout</a>
                {% else %}
                    <a class="link" href={{ url_for('login') }}>login / register</a>
                {% endif %}
            </aside>
        </header>
    {% endblock %}
    <main class="md:px-16 px-8 py-8">
        {% block body %}h{% endblock %}
    </main>
</body>
</html>