{% extends "layout.html" %}
{% block title %}
    {% if post %}
        {{ post.id }}
    {% else %}
        home
    {% endif %}
{% endblock %}

{% macro renderPost(post) -%}
    <figure>
        {% if post.image %}
            <a href="{{ url_for('view_post', post_id=post.id) }}">
                <img src="{{ url_for('uploaded_file', filename=post.image) }}" height="256" />
            </a>
        {% endif %}
        <figcaption>
            {% if post.parent %}
                <a href="{{ url_for('view_post', post_id=post.parent.id) }}">
                    >> {{ post.parent.id }}
                </a>
            {% endif %}
            <p>{{ post.content }}</p>
            <p>{{ post.id }} @ {{ post.created_at }}</p>
            {% if post.anonymous %}
                <p>anonymous</p>
            {% else %}
                <p>{{ post.author.username }}</p>
            {% endif %}
            <a href="{{ url_for('view_post', post_id=post.id) }}">
                replies ({{ post.comments.count() }})
            </a>
        </figcaption>
    </figure>
{%- endmacro %}

{% block body %}
    {% if post %}
        {{ renderPost(post) }}
    {% endif %}
    {% for post in posts %}
        {{ renderPost(post) }}
    {% endfor %}
    {% if user %}
        <form method="post" enctype="multipart/form-data">
            <textarea name="content" placeholder="what's on your mind?"></textarea>
            <input type="file" accept=".jpg,.jpeg,.png" name="image">
            <label>
                <input type="checkbox" name="anonymous" value="true">
                anonymous
            </label>
            <input type="submit" value="post">
        </form>
    {% endif %}
{% endblock %}